@{
    ViewData["Title"] = "首頁";
}
<!-- Shortcuts -->
<div class="block-area shortcut-area">
    <a class="shortcut tile" href="">
        <img src="~/img/shortcuts/money.png" alt="">
        <small class="t-overflow">Purchases</small>
    </a>
    <a class="shortcut tile" href="">
        <img src="~/img/shortcuts/twitter.png" alt="">
        <small class="t-overflow">Tweets</small>
    </a>
    <a class="shortcut tile" href="">
        <img src="~/img/shortcuts/calendar.png" alt="">
        <small class="t-overflow">Calendar</small>
    </a>
    <a class="shortcut tile" href="">
        <img src="~/img/shortcuts/stats.png" alt="">
        <small class="t-overflow">Statistics</small>
    </a>
    <a class="shortcut tile" href="">
        <img src="~/img/shortcuts/connections.png" alt="">
        <small class="t-overflow">Connection</small>
    </a>
    <a class="shortcut tile" href="">
        <img src="~/img/shortcuts/reports.png" alt="">
        <small class="t-overflow">Reports</small>
    </a>
</div>

<hr class="whiter" />

<!-- Quick Stats -->
<div class="block-area">
    <div class="row">
        <div class="col-md-3 col-xs-6">
            <div class="tile quick-stats">
                <div id="stats-line-2" class="pull-left"></div>
                <div class="data">
                    <h2 data-value="98">0</h2>
                    <small>Tickets Today</small>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-xs-6">
            <div class="tile quick-stats media">
                <div id="stats-line-3" class="pull-left"></div>
                <div class="media-body">
                    <h2 data-value="1452">0</h2>
                    <small>Shipments today</small>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-xs-6">
            <div class="tile quick-stats media">

                <div id="stats-line-4" class="pull-left"></div>

                <div class="media-body">
                    <h2 data-value="4896">0</h2>
                    <small>Orders today</small>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-xs-6">
            <div class="tile quick-stats media">
                <div id="stats-line" class="pull-left"></div>
                <div class="media-body">
                    <h2 data-value="29356">0</h2>
                    <small>Site visits today</small>
                </div>
            </div>
        </div>

    </div>

</div>

<hr class="whiter" />

<!-- Main Widgets -->

<div class="block-area">
    <div class="row">
        <div class="col-md-8">
            <!-- Main Chart -->
            <div class="tile">
                <h2 class="tile-title">Statistics</h2>
                <div class="tile-config dropdown">
                    <a data-toggle="dropdown" href="" class="tile-menu"></a>
                    <ul class="dropdown-menu pull-right text-right">
                        <li><a class="tile-info-toggle" href="">Chart Information</a></li>
                        <li><a href="">Refresh</a></li>
                        <li><a href="">Settings</a></li>
                    </ul>
                </div>
                <div class="p-10">
                    <div id="line-chart" class="main-chart" style="height: 250px"></div>

                    <div class="chart-info">
                        <ul class="list-unstyled">
                            <li class="m-b-10">
                                Total Sales 1200
                                <span class="pull-right text-muted t-s-0">
                                    <i class="fa fa-chevron-up"></i>
                                    +12%
                                </span>
                            </li>
                            <li>
                                <small>
                                    Local 640
                                    <span class="pull-right text-muted t-s-0"><i class="fa m-l-15 fa-chevron-down"></i> -8%</span>
                                </small>
                                <div class="progress progress-small">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
                                </div>
                            </li>
                            <li>
                                <small>
                                    Foreign 560
                                    <span class="pull-right text-muted t-s-0">
                                        <i class="fa m-l-15 fa-chevron-up"></i>
                                        -3%
                                    </span>
                                </small>
                                <div class="progress progress-small">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/home/functions.js"></script>
<script src="~/js/listening_onlineuser.js"></script>
<script src="~/js/listening_userblocking.js"></script>